/* #ban{
    background-color: red;
    width: 75px;
    height: 75px;
    animation: ban 4s, 1 ;
}

@keyframes ban{
    0%{
        background-color: red;
        margin-left: 0;
        margin-top: 0;
    }
    25%{
        background-color: orange;
        margin-left: 0;
        margin-top: 75px;
    }

    50%{
        background-color: yellow;
        margin-left: 75px;
        margin-top: 75px;
    }
    75%{
        background-color: green;
        margin-left: 75px;
        margin-top: 0;
    }

    100%{
        background-color:  red;
        margin-left: 0;
        margin-top: 0;
    }
} */

#holder {
    margin: 35vh auto;
    perspective:600px;
    text-indent: 0px;
}    

.box {
    position: relative;
    margin: 0 auto;
    height: 200px;
    width: 200px;
    animation: spin 20s infinite linear;
    transform-style: preserve-3d;
}

.box div {
    position: absolute;
    height: 200px;
    width: 200px;
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.5);
}

.box div img {
    width:200px; 
    height:200px;
    padding: 0;
}

.box .side1 {
    background:rgba( 213, 62, 7, 0.8);
    transform:translateZ(100px);
}

.box .side2 {
    background:rgba( 127, 255, 212, 0.8);
    transform:rotateY(90deg) translateZ(100px);
}

.box .side3 {
    background:rgba( 255, 219, 88, 0.8);
    transform:rotateY(180deg) translateZ(100px);
}

.box .side4 {
    background:rgba( 153, 17, 153, 0.8);
    transform:rotateY(-90deg) translateZ(100px);
}

.box .side5 {
    background:rgba( 0, 71, 171, 0.8);
    transform:rotateX(-90deg) translateZ(100px) rotate(180deg);
}

.box .side6 {
    background:rgba( 0, 171, 147, 0.8);
    transform:rotateX(90deg) translateZ(100px);
}

@keyframes spin {
    0% {transform: rotateX(0deg) rotateY(0deg);}
    100% {transform: rotateX(1080deg)
    rotateY(360deg);}
}
